@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow-x: hidden;
  }


  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
      content: '' !important;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
      content: '' !important;
  }

  .swiper-button-next svg,
  .swiper-button-prev svg {
      width: 24px !important;
      height: 24px !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
      position: relative !important;
  }

  .swiper-slide.swiper-slide-active {
      --tw-border-opacity: 1 !important;
      border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
  }

  .swiper-slide.swiper-slide-active>.swiper-slide-active\:text-indigo-600 {
      --tw-text-opacity: 1;
      color: rgb(79 70 229 / var(--tw-text-opacity));
  }

  .swiper-slide.swiper-slide-active>.flex .grid .swiper-slide-active\:text-indigo-600 {
      --tw-text-opacity: 1;
      color: rgb(79 70 229 / var(--tw-text-opacity));
  }
  .title-font{

    font-size: 44px;
    font-weight: 600;

   
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fadeInScale {
    animation: fadeInScale 0.5s ease-in-out;
  }
  